<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
      <%= render 'events/navbar' %>
      <%= render 'events/topnav' %>

      <h2>Created Events:</h2>
      <% @events.each do |event| %>
      <div>
          <h3>Event Id: <%= event.id %></h3>
          <h3>Event Date: <%= event.eventdate %></h3>
      </div>
<% end %>
<br>
  <h2>Upcoming Events:</h2>
  <% current_user.attended_events.each do |event| %>
  <% if event.eventdate > Date.today %>
      <div>
          <h3>Event Id: <%= event.id %></h3>
          <h3>Event Date: <%= event.eventdate %></h3>
      </div>
  <br>
  <% else %>
   <h2>Past Events:</h2>
      <div>
          <h3>Event Id: <%= event.id %></h3>
          <h3>Event Date: <%= event.eventdate %></h3>
      </div>
  <% end %>
  <% end %>
    <h2>Create Event:</h2>
    <%= link_to 'New Event', new_event_path %>
</div>
</body>
</html>
