<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <%= render 'events/topnav' %>
    <div class="container-fluid">
    <h3 class="mt-3">Created Events:</h3>
    <div class="container text-center mt-5">

      <div class="row gx-5">
        <% @events.each do |event| %>
        <div class="col-sm-5">

            <div class="card d-block w-100" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= event.eventname %></h5>
                  <% @user = User.find(event.creator_id) %>
                  <h6 class="card-subtitle mb-2 text-muted"><%= @user.name %></h6>
                  <p class="card-text"><%= event.eventdesc %><br><%= event.eventdate %></p>
                  <%= link_to "See details", event_path(event.id), class: "card-link"%>
                </div>
            </div>

        </div>
        <% end %>
      </div>
    </div>
    <h3 class="mt-3">Attended Events:</h3>
    <div class="container text-center mt-5">
      <div class="row gx-5">
        <% current_user.attended_events.each do |event| %>
        <div class="col-sm-5">
            <div class="card d-block w-100" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= event.eventname %></h5>
                  <% @user = User.find(event.creator_id) %>
                  <h6 class="card-subtitle mb-2 text-muted"><%= @user.name %></h6>
                  <p class="card-text"><%= event.eventdesc %><br><%= event.eventdate %></p>
                  <%= link_to "See details", event_path(event.id), class: "card-link"%>
                </div>
            </div>
        </div>
        <% end %>
      </div>

    </div>

</div>






</body>
</html>
