<div class="navbar">
    <div class="logo">
        <%= image_tag "view-dashboard-outline.png" %>
        Events Dashboard
    </div>
    <div class="sitenav">
        <div class="home">
            <button>
                <%= image_tag "home-outline.png" %>
                <%= link_to "Home", root_path %>
            </button>
        </div>
        <div class="profile">
            <button>
                <%= image_tag "card-account-details-outline.png" %>
                <%= link_to "Profile", edit_user_registration_path %>
            </button>
        </div>
        <div class="myevents">
            <button>
                <%= image_tag "message-reply-outline.png" %>
                <%= link_to 'My Events', user_path(current_user.id) %>
            </button>
        </div>
        <div class="history">
            <button>
                <%= image_tag "history.png" %>
                History
            </button>
        </div>
        <div class="tasks">
            <button>
                <%= image_tag "calendar-check-outline.png" %>
                Tasks
            </button>
        </div>
        <div class="communities">
            <button>
                <%= image_tag "account-group-outline.png" %>
                Communities
            </button>
        </div>
    </div>
    <div class="helpnav">
        <div class="settings">
            <button>
                <%= image_tag "cog-outline.png" %>
                Settings
            </button>
        </div>
        <div class="support">
            <button>
                <%= image_tag "tooltip-question-outline.png" %>
                Support
            </button>
        </div>
        <div class="privacy">
            <button>
                <%= image_tag "shield-lock-outline.png" %>
                Privacy
            </button>
        </div>
    </div>
</div>
