<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
</head>
<body>
    <h1>Welcome to your events page</h1>
    <% @events.each do |event| %>
      <div>
          <h3><%= event.eventname %></h3>
          <p><%= event.eventdate %></p>
        <% @user = User.find(event.creator_id) %>
          <p><%= @user.email %>
              <br>
        <%= link_to "See details", event_path(event.id) %>
      </div>
    <% end %>
    <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "Sign in", user_session_path%>
    <% end %>
</body>
</html>
