<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Event</title>
</head>
<body>

        <%= render 'topnav' %>
        <% @user = User.find(@event.creator_id) %>
        <div class="container mt-5">
        <div class="row mb-4 mt-5 mx-auto">
            <div class="col">
                <h1><%= @event.eventname %></h1>
            </div>
            <div class="col text-right">
                <% if current_user.id != @user.id %>
                  <% if @event.attendees.include?(current_user) %>
                    <%= link_to "Cancel RSVP", cancel_rsvp_event_path, class: "btn btn-outline-secondary" %>
                  <% else %>
                    <%= link_to 'RSVP', rsvp_event_path, class: "btn btn-primary" %>
                  <% end %>
                <% else %>
                    <%= link_to 'Edit Event', edit_event_path(@event.id), class: "btn btn-outline-secondary" %>
                <% end %>
            </div>

        </div>
        <div class="row mb-4 mx-auto">
            <div class="col">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text text-muted"><%= @event.eventdesc %></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <p class="text-muted">Created by <%= @user.name %></p>
                                <p class="text-muted">
                                    <%= @event.eventdate %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</body>
</html>
